<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>cfturnstile</name>
    <displayName><![CDATA[Cloudflare Turnstile Integration]]></displayName>
    <version><![CDATA[1.2.0]]></version>
    <author><![CDATA[Brian Tafoya - Tafoya Ventures]]></author>
    <description><![CDATA[Adds Cloudflare Turnstile to login, registration, and contact forms.]]></description>
    <tab>front_office_features</tab>
    <is_configurable>1</is_configurable>
    <ps_versions_compliancy>
        <min>1.7.0.0</min>
        <max>8.0.0</max>
    </ps_versions_compliancy>
</module>